<h1 align="center">Welcome to the Vancouver Tech Hub!</h1>
<div class="mx-5">
  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control mx-5',
        placeholder: "Search"
      ) %>
    </div>
    <div>
      <%= f.select(
        :with_tag,
        @filterrific.select_options[:with_tag],
        { include_blank: 'Tech Stack' },
      ) %>
    </div>
    <div>
      <%= f.select(
        :with_team_size,
        @filterrific.select_options[:with_team_size],
        { include_blank: 'Team Size' },
      ) %>
    </div>
    <div class: 'form-control mx-5'>
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%= render_filterrific_spinner %>
  <% end %>

  <%= render(
    partial: 'directories/list',
    locals: { companies: @companies }
  )%>
</div>