<div class="container">
  <h2 class="ml-3">Events</h2>
  <%= form_for( @meetup_group, :url => admin_events_path, :method => :post ) do |f| %>

    <div class="form-row align-items-center d-flex justify-content-start mt-5">
      <div class="col-8 mr-4 mb-1">
        <%= f.text_field(:name, class:'form-control', placeholder:'Meetup ID') %>
      </div>
      <div class="col-auto">
        <%= f.submit 'Submit', :class => 'btn-sm btn-outline-light' %>
      </div>
    <% end %>

  
  <table class="table table-borderless mt-4">
    <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="group-table">
      <% @meetup_groups.each do |m| %>
      <tr id="<%= m.id %>">
        <td>
          <%= m.name %>
        </td>
        <td>
          <p>
            <%= link_to(
              "Remove",
              admin_event_path(m.id),
              method: :delete,
              :remote => true,
              :class => 'delete_group text-light'
            ) %>
          </p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>