<div class="container">
  <%= form_for @technology, :url => admin_technologies_path, :method => :post do |f| %>

    <div>
      <%= f.label(:name) %>
      <%= f.text_field(:name) %>
    <%= f.submit %>
    </div>
  <% end %>

  <h2>Technologies</h2>
  
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Technology Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="tag-table">
      <% @technologies.each do |t| %>
      <tr id="<%= t.id %>">
        <td>
          <%= t.name %>
        </td>
        <td>
          <p>
            <%= link_to 'Remove', 
              admin_technology_path(t.id), 
              method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              :remote => true, 
              :class => 'delete_technology' 
            %> 
          </p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>