
<li class="nav-item mr-4"><a class="nav-link text-white"> Admin Panel: </a></li>
<li class="nav-item mr-4"><a class="nav-link text-light"<%= link_to 'Organizations', admin_organizations_path %></a></li>
<li class="nav-item mr-4"><a class="nav-link text-light"<%= link_to 'Events', admin_events_path %></a></li>
<li class="nav-item mr-4"><a class="nav-link text-light"<%= link_to 'News', admin_news_index_path %></a></li>
<li class="nav-item mr-4"><a class="nav-link text-light"<%= link_to 'Users', admin_users_path %></a></li>
<li class="nav-item mr-4"><a class="nav-link text-light"<%= link_to 'Technologies', admin_technologies_path %></a></li>