<div class="container-fluid col-md-6 col-md-offset-1 jumbotron">
  <div class="container col-md-6">
    <h2>Sign Up</h2>
  </div>
  <div class="container col-md-6">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <p>
          <%= @user.errors.full_messages.join(', ') %>
        </p>a
      <% end %>

      <div class="form-group">
        <%= f.label :first_name %> <br>
        <%= f.text_field :first_name %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>

      <%= f.submit "Sign Up",  class: "btn-sm btn-dark"%>
        

      <p class="mt-2"> Already have an account? 
      <span>
        <%= link_to "Sign in", new_session_path, class: "btn-md btn-outline-primary" %>
      </span>
      </p>

    <% end %>
  </div>
</div>