
<div class="mx-5">
    <h2 class"title">Events</h2>
    <div class="mx-auto jumbotron">
        <%= month_calendar events: @events do |date, events| %>
            <%= date.day %>
            <% events.each do |event| %>
                <div class="mb-1">
                    <small>
                        <%= link_to(event.title.truncate(30, separator: ' '), event.event_url) %>
                    </small>
                </div>
            <% end %>
        <% end %>
        <%= form_tag(events_path, method: :get) do %>
            <%= text_field_tag :search, nil, placeholder: "Search Events", class: "form-control mr-sm-5" %>
        <% end %>
    </div>
</div>

<% if @query %>
    <div>
        <% if @meetups.length >=1 %>
            <table class="table">
                <thead/> 
                <tbody>
                    <% @meetups.each do |meetup| %>
                        <tr>
                            <th scope="row">
                                <%= link_to(meetup.title, meetup.event_url) %>
                            </th>
                            <td>
                                <small>
                                    on <%= meetup.date %> 
                                </small> 
                                <small>
                                    @<%= meetup.time %> 
                                </small> 
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            <small> <p>Sorry! Couldn't find any matching event.</p></small>
        <% end %>
    </div>
<% end %>
