<div class="container">
  <h2>Organizations</h2>
  <a class="btn btn-danger" href="/directory/new" role="button">Add</a>
  <%= link_to "Add", new_company_path, class: "btn btn-danger" %>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Organization Name</th>
        <th scope="col">Published?</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |c| %>
      <tr id="<%= c.id %>">
        <td>
          <%= c.name %>
        </td>
        <td>
          <%= c.published %>
        </td>
        <td>
          <p>
            <%= link_to(
              "Remove",
              admin_organizations_path(c.id),
              method: :delete, 
              data: { confirm: 'Are you sure?' },
              :remote => true,
              :class => 'delete_organization'
            ) %>
          </p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>