<html>
  <head>
    <title>OmegaProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style>
    footer {
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .bottom-links{
      display: flex;
      justify-content: center;
    }
    .container {
  
      width: 960px;
    }
    .auth-link {
      height: 40px;
      margin-right: 16px;
      vertical-align: middle;
    }
    </style>
  </head>

  <body>
    <header>    
      <nav class="navbar navbar-default fixed-top navbar-reverse navbar-expand-sm border-bottom-2">
      <a class="navbar-brand" href="/"><%= image_tag("click-cloud-bright-blue.png", style: "max-width:60px; margin-top: -7px;") %></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
        <div class="navbar-nav">
          <ul class="nav navbar-nav navbar-right">      
            <% if current_user.present? %>
              <li class="nav-item mr-3"><a class="nav-link">Hi, <%= current_user.full_name %></a></li> 
            <% end %>
            <% if controller.class.parents.include?(Admin) %>
              <%= render partial: "partials/admin_header" %>
            <% else %>
              <%= render partial: "partials/header" %>
            <% end %>
          <ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div style="margin-top: 100px;">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %> alert-dismissible fade show">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    
  </body>

<!--Footer-->
  
  <footer>
    <div class="container bottom-links">
      <% if current_user.present? %>
        <%= link_to(
          'Sign Out',
          session_path, 
          method: :delete, 
          class:"btn btn-outline-dark"
        ) %>
      <% else %>
        <a href="/users/new" class="btn btn-outline-dark auth-link">Sign Up</a>
        <a href="/session/new" class="btn btn-outline-dark auth-link">Sign In</a>
      <% end %>
    </div>
  </footer>
    
</html>