<!DOCTYPE html>
<html>
  <head>
    <title>OmegaProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
  <%= link_to 'New Organisation', new_company_path %>

  

  
  </nav>

    <%= yield %>
  </body>
</html>
